* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(../images/6e9794bcedeecf5a8f8f41338a2a7345.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 1.1em;
    background: linear-gradient(360deg, rgba(241,241,241,0.020862055759803932) 0%, rgba(0,0,0,1) 100%);
    padding-right: 5%;
    padding-left: 5%;
    height: 4%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.menu h1 {
    color: #e03f3e;
    font-size: 40px;
    font-weight: 900;
}
.menu ul{
    display: flex;
    gap: 2em;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: ease-in 0.2s;
}

.menu a:hover {
    color: #e74c3c;
    text-decoration: underline;
}

.search input {
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    border: 2px solid #bdc3c7;
    outline: none;
}

.search button {
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    color: black;
    font-weight: 600;
    border: none;
    font-size: 18px;
}
